<div class="container py-4 animated fadeIn">
    <header class="pb-3 mb-4 border-bottom">
        <div class="d-flex align-items-center text-dark text-decoration-none">
            <img class="me-4" src="assets/img/A-64.png" alt="Bootstrap" width="50" height="40">
            <span class="fs-4">About</span>
        </div>
    </header>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Acerca de la comic app</h2>
            <p>Aplicación construída con Angular 14 desrrollada por <span class="fw-bold">Rubén Romera</span>, busca tu héroe favorito y explora las posibilidades de desarrollar una aplicación en Angular 14</p>
        </div>
        </div>
    </div>
</div>

