<div class="container py-4 animated fadeIn">
    <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img class="me-4" src="assets/img/A-64.png" alt="Bootstrap" width="50" height="40">
            <span class="fs-4">About</span>
        </a>
    </header>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>¡Bienvenido a la comic app!</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
        </div>
    </div>
</div>

