<div class="container py-4 animated fadeIn">
  <header class="pb-3 mb-4 border-bottom">
    <div class="d-flex align-items-center text-dark text-decoration-none">
      <img class="me-4" src="assets/img/A-64.png" alt="Bootstrap" width="50" height="40">
      <span class="fs-4">Hreoes <small>Marvel y DC</small></span>
    </div>
  </header>
  <div *ngIf="heroes.length === 0" class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle fs-5 me-4"></i>
    <div>
      No se han encontrado heroes con la búsqueda: <span class="fw-bold">{{ busqueda }}</span>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- <div class="col"> -->
      <app-heroe-card [heroe]="heroe" *ngFor="let heroe of heroes" ></app-heroe-card>
    <!-- </div> -->
  </div>
</div>